<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2> Az felhasználó mentése közben a következő hibák léptek fel:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Név:" %>
    <%= f.text_field :name %><br>
    <%= f.label "Joga:" %>
    <%= f.text_field :permission %><br>
    <%= f.label "Email:" %>
    <%= f.text_field :email %><br>
  </div>
  <div class="actions">
    <%= f.submit "Mentés" %>
  </div>
<% end %>
