<%= form_for(@componenttype) do |f| %>
  <% if @componenttype.errors.any? %>
    <div id="error_explanation">
      <h2>A következő <%= pluralize(@componenttype.errors.count, "error") %> megakadályozták a mentést:</h2>

      <ul>
      <% @componenttype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Alkatrész típusa" %><br>
    <%= f.text_field :name, :autofocus => true %>
  </div>
  <br>
  <%= f.submit "Alkatrész mentése", {class: "btn btn-danger", method: :get} %>

<% end %>
<br>
