
<h1>Alkatrész típusok listája</h1>

<table>
  <thead>
    <tr>
      <th>Neve</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @componenttypes.each do |componenttype| %>
      <tr>
        <td><%= componenttype.name %></td>
        <td><% if can? :read, componenttype %> <%= link_to 'Megnéz', componenttype %> <% end %> </td>
        <td><% if can? :update, componenttype %> <%= link_to 'Szerkeszt', edit_componenttype_path(componenttype) %> <% end %> </td>
        <td><% if can? :destroy, componenttype %> <%= link_to 'Töröl', componenttype, method: :delete, data: { confirm: 'Biztos, hogy töröli?' } %> <% end %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Új alkatrésztípus felvétele', new_componenttype_path %>
