<div class="text-center">
    <h2><strong>Alkatrész típusok listája</strong></h2>
</div>

<table id="datatables" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Neve</th>
      <% if can? :read, @componenttypes.first %> <th></th> <% end %>
      <% if can? :update, @componenttypes.first %> <th></th> <% end %>
      <% if can? :destroy, @componenttypes.first %> <th></th> <% end %>
    </tr>
  </thead>

  <tbody>
    <% @componenttypes.each do |componenttype| %>
      <tr>
        <td><%= componenttype.name %></td>
        <% if can? :read, componenttype %> <td> <%= link_to 'Megnéz', componenttype %> </td> <% end %>
        <% if can? :update, componenttype %> <td> <%= link_to 'Szerkeszt', edit_componenttype_path(componenttype) %></td> <% end %>
        <% if can? :destroy, componenttype %> <td> <%= link_to 'Töröl', componenttype, method: :delete, data: { confirm: 'Biztos, hogy töröli?' } %> </td> <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Componenttype.first %>
  <%= link_to 'Új alkatrésztípus ', new_componenttype_path %>
<% end %>

