
<h1>Készlet</h1>

<%= form_tag components_path, :method => 'get' do %>
    <p>
      <%= field_set_tag do %>
        <%= search_field_tag :search, params[:search], placeholder: 'Írja ide a keresett szót...' %>
        <%= submit_tag "Keresés", name: nil %>
        <% Componenttype.all.each do |type| %>
          <%= radio_button_tag(:componenttype, type.id, (type.id == session[:componenttype].to_i)) %>
          <%= label_tag(:componenttype, type.name) %>
        <% end %>
      <% end %>
    </p>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sortable "name", "Név" %></th>
        <th><%= sortable "partnumber", "Szám" %></th>
        <th><%= sortable "inventory", "Készlet" %></th>
        <th><%= sortable "location", "Lokáció" %></th>
        <th><%= sortable "componenttype_id", "Típus" %></th>
        <th><%= sortable "resistance", "Ellenállás" %></th>
        <th><%= sortable "capacity", "Kapacitás" %></th>
        <th><%= sortable "inductivity", "Induktivitás" %></th>
        <th><%= sortable "voltage", "Feszültség" %></th>
        <th><%= sortable "current", "Áram" %></th>
        <th><%= sortable "power", "Teljesítmény" %></th>
        <th><%= sortable "temperature", "Hőmérséklet" %></th>
        <th><%= sortable "dimension", "Méret" %></th>
        <th><%= sortable "criticalNrOfPieces", "Értesítési darabszám" %></th>
        <th><%= sortable "packaging_id", "Tokozás" %></th>
        <th><%= sortable "manufacturer_id", "Gyártó" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @components.each do |component| %>
      <tr>
        <td><%= component.name %></td>
        <td><%= component.partnumber %></td>
        <td><%= component.inventory %></td>
        <td><%= component.location%></td>
        <% unless component.componenttype.nil? %> <td><%= component.componenttype.name %> </td> <% else %> <td> "NA" </td> <% end %>
        <td><%= component.resistance %></td>
        <td><%= component.capacity %></td>
        <td><%= component.inductivity %></td>
        <td><%= component.voltage %></td>
        <td><%= component.current %></td>
        <td><%= component.power %></td>
        <td><%= component.temperature %></td>
        <td><%= component.dimension %></td>
        <td><%= component.criticalNrOfPieces %></td>
        <% unless component.packaging.nil? %> <td><%= component.packaging.name %> </td> <% else %> <td> "NA" </td> <% end %>
        <% unless component.manufacturer.nil? %> <td><%= component.manufacturer.name %> </td> <% else %> <td> "NA" </td> <% end %>
        <td><% if can? :read, component %> <%= link_to 'Megnéz', component %> <% end %> </td> 
        <td><% if can? :update, component %> <%= link_to 'Szerkeszt', edit_component_path(component) %> <% end %> </td>
        <td><% if can? :destroy, component %> <%= link_to 'Töröl', component, method: :delete, data: { confirm: 'Biztos, hogy törölné szeretné a kijelölt gyártót?' } %> <% end %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Új alkatrész felvétele', new_component_path %>
