
<h1>Készlet</h1>

<table>
  <thead>
    <tr>
        <th>Név</th>
        <th>Szám</th>
        <th>Készlet</th>
        <th>Lokáció</th>
        <th>Típus</th>
        <th>Ellenállás</th>
        <th>Kapacitás</th>
        <th>Induktivitás</th>
        <th>Feszültség</th>
        <th>Áram</th>
        <th>Teljesítmény</th>
        <th>Hőmérséklet</th>
        <th>Méret</th>
        <th>Értesítési darabszám</th>
        <th>Tokozás</th>
        <th>Gyártó</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @components.each do |component| %>
      <tr>
        <td><%= component.name %></td>
        <td><%= component.partnumber %></td>
        <td><%= component.inventory %></td>
        <td><%= component.location%></td>
        <% unless component.componenttype.nil? %> <td><%= component.componenttype.name %> </td> <% else %> <td> "NA" </td> <% end %>
        <td><%= component.resistance %></td>
        <td><%= component.capacity %></td>
        <td><%= component.inductivity %></td>
        <td><%= component.voltage %></td>
        <td><%= component.current %></td>
        <td><%= component.power %></td>
        <td><%= component.temperature %></td>
        <td><%= component.dimension %></td>
        <td><%= component.criticalNrOfPieces %></td>
        <% unless component.packaging.nil? %> <td><%= component.packaging.name %> </td> <% else %> <td> "NA" </td> <% end %>
        <% unless component.manufacturer.nil? %> <td><%= component.manufacturer.name %> </td> <% else %> <td> "NA" </td> <% end %>
        <td><%= link_to 'Megnéz', component %></td>
        <td><%= link_to 'Szerkeszt', edit_component_path(component) %></td>
        <td><%= link_to 'Töröl', component, method: :delete, data: { confirm: 'Biztos, hogy törölné szeretné a kijelölt gyártót?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Új alkatrész felvétele', new_component_path %>
