<div class="text-center">
    <h2><strong>Alkatrész Kivét</strong></h2>
</div>
<br>

    Alkatrész száma: <%= @component.name %><br>
    Raktári készlet: <%= @component.inventory.to_s %> <br>
    Lokáció: <%= @component.location %><br>
    Típusa: <%= @component.componenttype.name %><br>
    Megjegyzés:<%= @component.comment %><br>
<br>
<br>
<%= form_tag kivet_component_path, :method => 'get' do %>
    <p>
      <%= field_set_tag do %>
        Kivett darabszám: 
        <%= number_field_tag :kivet, params[:kivet] %>
        <%= submit_tag "Kivét", {class: "btn btn-primary"} %><br>
      <% end %>
    </p>
<% end %>

<br>
<br>
<%= button_to "Vissza", components_path , {class: "btn btn-warning", method: :get}%>
