<div class="text-center">
	<h2><strong>Alkatrész adatai</strong></h2>
</div>

<div class="component_details">
<p>
  <strong>Alkatrész neve:</strong>
  <%= @component.name.getValue %>
</p>

<p>
  <strong>Száma:</strong>
  <%= @component.partnumber.getValue %>
</p>

<p>
  <strong>Készenléti darabszám:</strong>
  <%= @component.inventory %>
</p>

<p>
  <strong>Lokáció:</strong>
  <%= @component.location.getValue %>
</p>

<p>
  <strong>Rendelési státusz:</strong>
  <%= @component.status %>
  <% if @component.status == Status.find(2) && !@component.purchase_date.nil? then %>
    <strong>  Rendelés dátuma:</strong>
    <%= @component.purchase_date.to_date %>
	<% if !@component.purchase_arrival_date.nil? then %>
    	    <strong>  Megérkezés dátuma:</strong>
        <%= @component.purchase_arrival_date.to_date %>
	<% end %>
  <% end %>
  
</p>

<p>
  <strong>Típus:</strong>
  <%= @component.componenttype %>
</p>

<p>
  <strong>Ellenállás:</strong>
  <%= @component.resistance.getValue %>
</p>

<p>
  <strong>Kapacitás:</strong>
  <%= @component.capacity.getValue %>
</p>
<p>
  <strong>Induktivitás:</strong>
  <%= @component.inductivity.getValue %>
</p>

<p>
  <strong>Feszültség:</strong>
  <%= @component.voltage.getValue %>
</p>

<p>
  <strong>Áram:</strong>
  <%= @component.current.getValue %>
</p>

<p>
  <strong>Teljesítmény:</strong>
  <%= @component.power.getValue %>
</p>

<p>
  <strong>Hőmérséklet:</strong>
  <%= @component.temperature.getValue %>
</p>

<p>
  <strong>Méret:</strong>
  <%= @component.dimension.getValue %>
</p>

<p>
  <strong>Rendeléshez kritikus darabszám:</strong>
  <%= @component.criticalNrOfPieces %>
</p>

<p>
  <strong>Tokozás:</strong>
  <%= @component.packaging %>
</p>

<p>
  <strong>Gyártó:</strong>
  <%= @component.manufacturer %>
</p>

<p>
  <strong>Megjegyzés:</strong>
  <%= @component.comment.getValue %>
</p>

<p>
  <strong>Legutobbi Felhasználó:</strong>
  <%= @component.user %>
</p>
</div>

<div class="buttons">
<%= button_to 'Vissza', components_path, {class: 'btn btn-info', method: :get, align: "left"} %>
<% if can? :update, @component %> 
  <%= button_to 'Szerkeszt', edit_component_path(@component), {class: "btn btn-danger", align: "center" , method: :get} %> 
<% end %>
</div>
