
<p>
  <strong>Alkatrész neve:</strong>
  <%= @component.name %>
</p>

<p>
  <strong>Száma:</strong>
  <%= @component.partnumber %>
</p>

<p>
  <strong>Készenléti darabszám:</strong>
  <%= @component.inventory %>
</p>

<p>
  <strong>Lokáció:</strong>
  <%= @component.location %>
</p>

<p>
  <strong>Típus:</strong>
  <%= @component.componenttype %>
</p>

<p>
  <strong>Ellenállás:</strong>
  <%= @component.resistance %>
</p>

<p>
  <strong>Kapacitás:</strong>
  <%= @component.capacity %>
</p>

<p>
  <strong>Induktivitás:</strong>
  <%= @component.inductivity %>
</p>

<p>
  <strong>Feszültség:</strong>
  <%= @component.voltage %>
</p>

<p>
  <strong>Áram:</strong>
  <%= @component.current %>
</p>

<p>
  <strong>Teljesítmény:</strong>
  <%= @component.power %>
</p>

<p>
  <strong>Hőmérséklet:</strong>
  <%= @component.temperature %>
</p>

<p>
  <strong>Méret:</strong>
  <%= @component.dimension %>
</p>

<p>
  <strong>Rendeléshez kritikus darabszám:</strong>
  <%= @component.criticalNrOfPieces %>
</p>

<p>
  <strong>Tokozás:</strong>
  <%= @component.packaging %>
</p>

<p>
  <strong>Gyártó:</strong>
  <%= @component.manufacturer %>
</p>

<p>
  <strong>Megjegyzés:</strong>
  <%= @component.comment %>
</p>

<p>
  <strong>Legutobbi Felhasználó:</strong>
  <%= @component.user %>
</p>

<% if can? :update, @component %> <%= link_to 'Szerkeszt', edit_component_path(@component) %> <% end %>
<%= link_to 'Vissza', :back %>
