<div class="text-center">
	<h2><strong>Alkatrész adatai</strong></h2>
</div>

<div class="component_details">
<p>
  <strong>Alkatrész neve:</strong>
  <a><%= @component.name %></a>
</p>

<p>
  <strong>Száma:</strong>
  <a><%= @component.partnumber %></a>
</p>

<p>
  <strong>Készenléti darabszám:</strong>
  <a><%= @component.inventory %></a>
</p>

<p>
  <strong>Lokáció:</strong>
  <a><%= @component.location %></a>
</p>

<p>
  <strong>Rendelési státusz:</strong>
  <%= @component.status %>
  </p>
  <% if @component.status == Status.find(2) && !@component.purchase_date.nil? then %>
	  <p>
	  	<strong>  Rendelés dátuma:</strong>
		<a><%= @component.purchase_date.to_date %></a>
	  </p>
	<% if !@component.purchase_arrival_date.nil? then %>
		<p> 
			<strong>  Megérkezés dátuma:</strong>
			<a><%= @component.purchase_arrival_date.to_date %></a>
		</p>
	<% end %>
  <% end %>
  
<p>
  <strong>Típus:</strong>
  <a><%= @component.componenttype %></a>
</p>

<p>
  <strong>Ellenállás:</strong>
  <a><%= @component.resistance %></a>
</p>

<p>
  <strong>Kapacitás:</strong>
  <a><%= @component.capacity %></a>
</p>
<p>
  <strong>Induktivitás:</strong>
  <a><%= @component.inductivity %></a>
</p>

<p>
  <strong>Feszültség:</strong>
  <a><%= @component.voltage %></a>
</p>

<p>
  <strong>Áram:</strong>
  <a><%= @component.current %></a>
</p>

<p>
  <strong>Teljesítmény:</strong>
  <a><%= @component.power %></a>
</p>

<p>
  <strong>Hőmérséklet:</strong>
  <a><%= @component.temperature %></a>
</p>

<p>
  <strong>Méret:</strong>
  <a><%= @component.dimension %></a>
</p>

<p>
  <strong>Rendeléshez kritikus darabszám:</strong>
  <a><%= @component.criticalNrOfPieces %></a>
</p>

<p>
  <strong>Tokozás:</strong>
  <a><%= @component.packaging %></a>
</p>

<p>
  <strong>Gyártó:</strong>
  <a><%= @component.manufacturer %></a>
</p>

<p>
  <strong>Megjegyzés:</strong>
  <a><%= @component.comment %></a>
</p>

<p>
  <strong>Legutobbi Felhasználó:</strong>
  <a><%= @component.user %></a>
</p>
</div>

<div class="buttons">
<%= button_to 'Vissza', components_path, {class: 'btn btn-info', method: :get, align: "left"} %>
<% if can? :update, @component %> 
  <%= button_to 'Szerkeszt', edit_component_path(@component), {class: "btn btn-danger", align: "center" , method: :get} %> 
<% end %>
</div>
