<%= form_for(@manufacturer) do |f| %>
  <% if @manufacturer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manufacturer.errors.count, "error") %> A gyártó elmentése közben a következő hibák léptek fel:</h2>

      <ul>
      <% @manufacturer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Gyártó neve" %><br>
    <%= f.text_field :name, :autofocus => true %><br>
    <%= f.label "Kapcsolattartó személy" %><br>
    <%= f.text_field :contactPerson %><br>

    <%= f.label "Címe" %><br>
    <%= f.text_field :address %><br>

    <%= f.label "Email" %><br>
    <%= f.text_field :email %><br>

    <%= f.label "Telefonszáma" %><br>
    <%= f.text_field :phone %><br>

  </div>
  <div class="actions">
    <%= f.submit "Gyártó mentése" %>
  </div>
<% end %>
