
<h1>Gyártók Listája</h1>

<table id="datatables">
  <thead>
    <tr>
      <th>Név</th>
      <% if can? :read, @manufacturers.first %> <th>Megnéz</th> <% end %>
      <% if can? :update, @manufacturers.first %> <th>Szekeszt</th> <% end %>
      <% if can? :destroy, @manufacturers.first %> <th>Töröl</th> <% end %>
    </tr>
  </thead>

  <tbody>
    <% @manufacturers.each do |manufacturer| %>
      <tr>
        <td><%= manufacturer.name %></td>
        <% if can? :read, manufacturer %> <td> <%= link_to 'Megnéz', manufacturer %> </td> <% end %>
        <% if can? :update, manufacturer %> <td> <%= link_to 'Szerkeszt', edit_manufacturer_path(manufacturer) %></td> <% end %>
        <% if can? :destroy, manufacturer %> <td> <%= link_to 'Töröl', manufacturer, method: :delete, data: { confirm: 'Biztos, hogy töröli?' } %> </td> <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, @manufacturers.first %>
  <%= link_to 'Új gyártó ', new_manufacturer_path %>
<% end %>
