<div class="text-center">
    <h2><strong>Tokozások listája</strong></h2>
</div>

<table id="datatables" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Tokozás Neve</th>
      <% if can? :read, @packagings.first %> <th></th> <% end %>
      <% if can? :update, @packagings.first %> <th></th> <% end %>
      <% if can? :destroy, @packagings.first %> <th></th> <% end %>
    </tr>
  </thead>
  <tbody>
    <% @packagings.each do |packaging| %>
      <tr>
        <td><%= packaging.name %></td>
        <% if can? :read, packaging %> <td> <%= link_to 'Megnéz', packaging %> </td> <% end %>
        <% if can? :update, packaging %> <td> <%= link_to 'Szerkeszt', edit_packaging_path(packaging) %></td> <% end %>
        <% if can? :destroy, packaging %> <td> <%= link_to 'Töröl', packaging, method: :delete, data: { confirm: 'Biztos, hogy töröli?' } %> </td> <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Packaging.first %>
  <%= button_to 'Új tokozás', new_packaging_path, {class: "btn btn-warning", method: :get } %> 
<% end %>
