<!DOCTYPE html>
<html>
<head>
  <title>Raktar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>

    <%= yield %>
    <sidebar>
        <%= user_logged_in_msg %>
    </sidebar>
</body>
</html>
