<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-eduiv='Content-Type'/>
    </head>
    <body>
        <h1> Alkatrész rendelés szükséges </h1>
        <br>
        <p>
        Alkatrész neve:         <b><%= @component.name %></b> <br>
        Aktuális darabszám:     <b><%= @component.inventory %></b> <br>
        Figyelmeztető darabszám:<b><%= @component.criticalNrOfPieces %></b> <br>
        Alkatrész lokációja:    <b><%= @component.location %></b> <br> <br>
        </p>
        <%= link_to "Alkatrész link", @component %>
    </body>
</html>
